<!DOCTYPE html>
<html>
<head>
<title>This is the home page</title>
<link rel="stylesheet" href="/stylesheets/homecss.css">
</head>

<body>
  <div class="home-main-div">
    <h1>Eric Clapton</h1>
    <img src='/images/eric-clapton-story-rolling-stone-fricke-207343e1-9728-499f-8868-ca85db26c081.jpg' width='500px'>
    <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
        <a href="/about">About</a>
    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
</div>
</body>

</html>